<!--
PRIMER NOMBRE
PRIMER APELLIDO
EDAD
EQUIPO

-->
<br>
<div class="card">

    <p-table 
    [value]="jugadores"
    [paginator]="true"
    [rows]="20"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20%;">Nombre</th>
                <th style="width: 20%;">Apellido</th>
                <th style="width: 20%;">Genero</th>
                <th style="width: 20%;">Fecha nacimiento</th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-jugador>
            <tr>
                <td>{{jugador.primer_nombre}}</td>
                <td>{{jugador.primer_apellido}}</td>
                <td>{{jugador.genero}}</td>
                <td>{{jugador.fecha_nacimiento}}</td>
                <td>
                    
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" [raised]="true" severity="info" />
                </td>
                <td>                    
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger" />
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>


