<h2>REGISTRO DE TORNEO</h2>
<div class="card flex flex-column md:flex-row gap-3">
    
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input class="flex flex-rows" type="text" pInputText variant="filled" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input class="flex flex-rows" type="text" pInputText variant="filled" />
    </p-inputGroup>

</div>